# Public Speaking - Masterclass

## Step 1 : Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mc_p_df = pd.read_excel("C:/Users/Alina Sahoo/Documents/MKR/Task2/Public Speaking - Masterclass (Responses).xlsx")

In [3]:
mc_p_df.head() #loads the values of first five data

,Timestamp,First Name,Last Name,City,Unnamed: 4,Unnamed: 5
0,2020-08-02 15:05:28.216,saket,deshmukh,Pune,Public,Publicsaketdeshmukh
1,2020-08-02 22:13:36.424,Mishika,Sharma,Gurgaon,Public,PublicMishikaSharma
2,2020-08-02 22:16:43.616,Diksha,Deb,"Silchar, Assam",Public,PublicDikshaDeb
3,2020-08-02 22:17:19.184,Lohith,Bollineni,Chennai,Public,PublicLohithBollineni
4,2020-08-02 22:20:47.635,Rutuja,Ghorpade,Pune,Public,PublicRutujaGhorpade

In [4]:
mc_p_df.tail() #loads the values of last five data

,Timestamp,First Name,Last Name,City,Unnamed: 4,Unnamed: 5
190,2020-08-09 12:43:14.707,Ronak,Shah,Mumbai,Public,PublicRonakShah
191,2020-08-09 12:53:47.614,Vaibhav,Daksh,Delhi,Public,PublicVaibhav Daksh
192,2020-08-09 13:03:52.081,Vaishnavi,Kshirsagar,Pune,Public,PublicVaishnavi Kshirsagar
193,2020-08-09 13:17:34.780,Vaibhav,Daksh,Delhi ncr,Public,PublicVaibhavDaksh
194,2020-08-09 14:03:36.349,Richelle,Aranjo,Pune,Public,PublicRichelleAranjo

In [5]:
mc_p_df.info() #precise information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Timestamp   195 non-null    datetime64[ns]
 1   First Name  195 non-null    object
 2   Last Name   195 non-null    object
 3   City        195 non-null    object
 4   Unnamed: 4  195 non-null    object
 5   Unnamed: 5  195 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 9.3+ KB

In [6]:
mc_p_df.isna().sum() #checks for the missing values if any

Timestamp     0
First Name    0
Last Name     0
City          0
Unnamed: 4    0
Unnamed: 5    0
dtype: int64

In [7]:
mc_p_df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'City', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

## Step 2 : Data Cleaning

In [8]:
mc_p_df.drop(columns=['Unnamed: 4', 'Unnamed: 5'], inplace=True) #dropping unnecessary columns

In [9]:
mc_p_df

                  Timestamp  First Name    Last Name            City
0   2020-08-02 15:05:28.216       saket     deshmukh            Pune
1   2020-08-02 22:13:36.424     Mishika       Sharma         Gurgaon
2   2020-08-02 22:16:43.616      Diksha          Deb  Silchar, Assam
3   2020-08-02 22:17:19.184      Lohith    Bollineni         Chennai
4   2020-08-02 22:20:47.635      Rutuja     Ghorpade            Pune
..                      ...         ...          ...             ...
190 2020-08-09 12:43:14.707       Ronak         Shah          Mumbai
191 2020-08-09 12:53:47.614    Vaibhav         Daksh           Delhi
192 2020-08-09 13:03:52.081  Vaishnavi   Kshirsagar             Pune
193 2020-08-09 13:17:34.780     Vaibhav        Daksh       Delhi ncr
194 2020-08-09 14:03:36.349    Richelle       Aranjo            Pune

[195 rows x 4 columns]

In [10]:
mc_p_df["First Name"]= mc_p_df["First Name"].str.upper().str.title() 
mc_p_df["Last Name"]= mc_p_df["Last Name"].str.upper().str.title()

In [11]:
mc_p_df.head(30)

                 Timestamp    First Name   Last Name            City
0  2020-08-02 15:05:28.216         Saket    Deshmukh            Pune
1  2020-08-02 22:13:36.424       Mishika      Sharma         Gurgaon
2  2020-08-02 22:16:43.616        Diksha         Deb  Silchar, Assam
3  2020-08-02 22:17:19.184        Lohith   Bollineni         Chennai
4  2020-08-02 22:20:47.635        Rutuja    Ghorpade            Pune
5  2020-08-02 22:28:34.937         Vyomi     Gidwani            Pune
6  2020-08-02 22:29:13.224       Swapnil    Agrahari       Gorakhpur
7  2020-08-02 23:02:07.953    Umme-Aiman  Rampurwala            Pune
8  2020-08-03 08:46:24.790         Soham         Roy        Jamnagar
9  2020-08-03 12:00:12.513     Shravani      D'Souza            Pune
10 2020-08-03 12:02:34.760       Mayank      Chauhan        Solapur
11 2020-08-03 12:02:45.902  Raktim Kumar        Nath       Morigaon
12 2020-08-03 12:03:14.113       Nitish     Chorghe          Mumbai
13 2020-08-03 12:05:33.412       Utkarsh      Kapoor         KOLKATA
14 2020-08-03 12:06:07.188        Renuka        Bhil            Pune
15 2020-08-03 12:09:01.418     Priyanka       Ahuja       New Delhi
16 2020-08-03 12:11:20.050         Rohan    Khimavat           Pune
17 2020-08-03 12:16:09.352       Vibhuti      Sharma      Chandigarh
18 2020-08-03 12:24:04.666       Srikant       Madde          Nanded
19 2020-08-03 12:32:06.054      Vishakha        Raut           thane
20 2020-08-03 13:12:38.637        Saurav     Bharali        Guwahati
21 2020-08-03 13:19:43.923     Keerthana         A K        Ariyalur
22 2020-08-03 13:25:39.727        Anshu           De           Pune
23 2020-08-03 13:27:56.139      Debashis      Sarmah        Guwahati
24 2020-08-03 13:50:15.734       Kalpesh       Patil             gOA
25 2020-08-03 16:05:41.384         Vansh        Garg         Panipat
26 2020-08-03 16:06:54.165         Nitin    Thilagan         Chennai
27 2020-08-03 16:10:35.313        Tushar       Karle      Ahmednagar
28 2020-08-03 16:26:27.766      Shashwat       Kumar       Prayagraj
29 2020-08-03 16:40:33.020        Akshay   Kumaran S         Chennai

In [12]:
mc_p_df['City'] = mc_p_df['City'].replace(['Silchar, Assam'],'Silchar')
mc_p_df['City'] = mc_p_df['City'].replace(['Tripunithura, Ernakulam'],'Thrippunithura')
mc_p_df['City'] = mc_p_df['City'].replace(['Trivandrum, Kerala'],'Thiruvananthapuram')
mc_p_df['City'] = mc_p_df['City'].replace(['Navi Mumbai-410210'],'Navi Mumbai')
mc_p_df['City'] = mc_p_df['City'].replace(['Rayagada, Odisha.'],'Rayagada')
mc_p_df['City'] = mc_p_df['City'].replace(['Thane Maharashtra'],'Thane')
mc_p_df['City'] = mc_p_df['City'].replace(['Egypt - Damietta'],'Damietta')
mc_p_df['City'] = mc_p_df['City'].replace([' Baler Aurora Philippines'],'Baler')
mc_p_df['City'] = mc_p_df['City'].replace(['Hoshangabad m.p.'],'Hoshangabad')
mc_p_df['City'] = mc_p_df['City'].replace(['Los Baños, Philippines'],'Los Baños')
mc_p_df['City'] = mc_p_df['City'].replace(['Delhi ncr'],'Delhi')
mc_p_df['City'] = mc_p_df['City'].replace(['Ambejogai'],'Ambajogai')

In [13]:
mc_p_df["City"]= mc_p_df["City"].str.upper().str.title()

In [14]:
mc_p_df.head(30)

                 Timestamp    First Name   Last Name        City
0  2020-08-02 15:05:28.216         Saket    Deshmukh        Pune
1  2020-08-02 22:13:36.424       Mishika      Sharma     Gurgaon
2  2020-08-02 22:16:43.616        Diksha         Deb     Silchar
3  2020-08-02 22:17:19.184        Lohith   Bollineni     Chennai
4  2020-08-02 22:20:47.635        Rutuja    Ghorpade        Pune
5  2020-08-02 22:28:34.937         Vyomi     Gidwani        Pune
6  2020-08-02 22:29:13.224       Swapnil    Agrahari   Gorakhpur
7  2020-08-02 23:02:07.953    Umme-Aiman  Rampurwala        Pune
8  2020-08-03 08:46:24.790         Soham         Roy    Jamnagar
9  2020-08-03 12:00:12.513     Shravani      D'Souza        Pune
10 2020-08-03 12:02:34.760       Mayank      Chauhan    Solapur
11 2020-08-03 12:02:45.902  Raktim Kumar        Nath   Morigaon
12 2020-08-03 12:03:14.113       Nitish     Chorghe      Mumbai
13 2020-08-03 12:05:33.412       Utkarsh      Kapoor     Kolkata
14 2020-08-03 12:06:07.188        Renuka        Bhil        Pune
15 2020-08-03 12:09:01.418     Priyanka       Ahuja   New Delhi
16 2020-08-03 12:11:20.050         Rohan    Khimavat       Pune
17 2020-08-03 12:16:09.352       Vibhuti      Sharma  Chandigarh
18 2020-08-03 12:24:04.666       Srikant       Madde      Nanded
19 2020-08-03 12:32:06.054      Vishakha        Raut       Thane
20 2020-08-03 13:12:38.637        Saurav     Bharali    Guwahati
21 2020-08-03 13:19:43.923     Keerthana         A K    Ariyalur
22 2020-08-03 13:25:39.727        Anshu           De       Pune
23 2020-08-03 13:27:56.139      Debashis      Sarmah    Guwahati
24 2020-08-03 13:50:15.734       Kalpesh       Patil         Goa
25 2020-08-03 16:05:41.384         Vansh        Garg     Panipat
26 2020-08-03 16:06:54.165         Nitin    Thilagan     Chennai
27 2020-08-03 16:10:35.313        Tushar       Karle  Ahmednagar
28 2020-08-03 16:26:27.766      Shashwat       Kumar   Prayagraj
29 2020-08-03 16:40:33.020        Akshay   Kumaran S     Chennai

In [15]:
mc_p_df.insert(4, "MasterClass Name", "Public Speaking")

In [16]:
mc_p_df

                  Timestamp  First Name    Last Name     City MasterClass Name
0   2020-08-02 15:05:28.216       Saket     Deshmukh     Pune  Public Speaking
1   2020-08-02 22:13:36.424     Mishika       Sharma  Gurgaon  Public Speaking
2   2020-08-02 22:16:43.616      Diksha          Deb  Silchar  Public Speaking
3   2020-08-02 22:17:19.184      Lohith    Bollineni  Chennai  Public Speaking
4   2020-08-02 22:20:47.635      Rutuja     Ghorpade     Pune  Public Speaking
..                      ...         ...          ...      ...              ...
190 2020-08-09 12:43:14.707       Ronak         Shah   Mumbai  Public Speaking
191 2020-08-09 12:53:47.614    Vaibhav         Daksh    Delhi  Public Speaking
192 2020-08-09 13:03:52.081  Vaishnavi   Kshirsagar      Pune  Public Speaking
193 2020-08-09 13:17:34.780     Vaibhav        Daksh    Delhi  Public Speaking
194 2020-08-09 14:03:36.349    Richelle       Aranjo     Pune  Public Speaking

[195 rows x 5 columns]

In [17]:
mc_p_df.to_excel(r'C:\Users\Alina Sahoo\Documents\MKR\Task2\MC5.xlsx', index = False)